/* Styles for Mobile Phone */


body {
    background-color: white;
    color:#B77512;
    font-family: kalam;
}

#header_img { 
    background-image: url(../Images/BREADMISC/ToppingsourDough.jpeg);
    background-size:100%;
    background-position: center;

}

#button {
    top: 40px;
      left: 400px;
      position:relative;
      color:white;
      font-size: 35pt;
  }

#start{
    text-align: center;
}

#start1{
    text-align: center;
    font-size: 15pt;
}

#header { 
    width: 50%;
}

.col-lg-4{
    float: left;
    width: 33.33%;
    padding: 5px;
  }


#Footer_img { 
    background-image: url(..//Images/Beginnerssourdough/footersourdough.jpeg);
    background-size:100%;
    background-position: center;
    transform: rotate(180deg);
}

/* Styles for tablet */

@media (min-width: 600px) {
    #panel_bg {
        width: 75%;
    }
}